extends ../layout

block content

  div.sidebarNav
    a(href='/authors')
      img.splashPictureIndex(src='../images/author.jpg')
      h1.subjectIndex Authors
  div.sidebarNav
    a(href='/books')
      img.splashPictureIndex(src='../images/books.jpg')
      h1.subjectIndex Books
  div.newContainer
    h1.newHeader New book
    form(action='/books' method='POST')
      div.form-group
        label(for="title") Title
        br
        input.form-control(type="text" id="title" name='title' placeholder="Book Title")
      div.form-group
        label(for="genre") Genre
        br
        input.form-control(type="text" id="genre" name='genre' placeholder="Book Genre")
      div.form-group
        label(for="url") Cover Image URL
        br
        input.form-control(type="text" id="url" name='url' placeholder="Book Cover")
      div.form-group
        label(for="description") Description
        br
        input.form-control(type="text" id="description" name='description')
      div.form-group
        label(for="fname_1") First Author
        br
        input.form-control(type="text" id="fname_1" name='fname_1' placeholder='First Name')
        label(for="lname_1")
        input.form-control(type="text" id="lname_1" name='lname_1' placeholder='Last Name')
      div.form-group
        label(for="fname_2") Second Author
        br
        input.form-control(type="text" id="fname_2" name='fname_2' placeholder='First Name')
        label(for="lname_2")
        input.form-control(type="text" id="lname_2" name='lname_2' placeholder='Last Name')
      div.form-group
        label(for="fname_3") Third Author
        br
        input.form-control(type="text" id="fname_3" name='fname_3' placeholder='First Name')
        label(for="lname_3")
        input.form-control(type="text" id="lname_3" name='lname_3' placeholder='Last Name')
      button.btn.btn-primaryU(type="submit") Submit
