extends layout

block content
  
  div.left
    a(href='/authors')
      img.splashPicture(src='images/author.jpg')
      h1.subject Authors
  div.right
    a(href='/books')
      img.splashPicture(src='images/books.jpg')
      h1.subject Books
    
