doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://necolas.github.io/normalize.css/3.0.2/normalize.css')
    link(href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styleIndex.css')
  body
    div.staticHeader
      a(href='/')
        img.staticIcon(src='../images/greads.jpg')
        header.staticText Galvanize Reads
    block content
