extends ../layout

block content

  div.sidebarNav
    a(href='/authors')
      img.splashPictureIndex(src='../images/author.jpg')
      h1.subjectIndex Authors
  div.sidebarNav
    a(href='/books')
      img.splashPictureIndex(src='../images/books.jpg')
      h1.subjectIndex Books
  div.newContainer
    h1.newHeader New Author
    form(action='/authors' method='POST')
      div.errors
        if errors
          for error in errors
            p.red= error
      div.form-group
        label(for="first_name") First Name
        br
        input.form-control(type="text" id="first_name" name='first_name' placeholder="First Name")
      div.form-group
        label(for="Last Name") Last Name
        br
        input.form-control(type="text" id="last_name" name='last_name' placeholder="Last Name")
      div.form-group
        label(for="author_url") Portrait URL
        br
        input.form-control(type="text" id="author_url" name='author_url' placeholder="Portrait URL")
      div.form-group
        label(for="bio") Biography
        br
        input.form-control(type="text" id="bio" name='bio')
      div.form-group
      button.btn.btn-primaryU(type="submit") Submit
